/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.auth-container {
  text-align: center;
  margin-top: 50px;
}

.auth-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.auth-container p {
  font-size: 1.2rem;
}

.auth-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.auth-container a:hover {
  text-decoration: underline;
}
